Dependencies
/node_modules
/frontend/node_modules

Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

Build output
This folder is created by the 'npm run build --prefix frontend' command
/frontend/build

Ignore local editor/OS files
.DS_Store
*.orig
npm-shrinkwrap.json

Keep the 'frontend' folder itself, but ignore its build and dependencies